.tableStyle {
    border: none !important;
    border-spacing: 15px;
}


.tableStyle thead {
    border: none;
}

.tableStyle thead tr th {
    border: none;
}

.tableStyle thead tr th:last-child {
    text-align: end;
}

.tableStyle tbody tr:nth-of-type(odd) {
    background-color: rgb(22 107 66 / 3%) !important;
}

.tableStyle tbody tr td:last-child {
    text-align: end;
}

.tableStyle tbody tr td {
    border: none;
}